<tr>
  <td>
    <div id="route_name_<%= route.id %>">
      <%= route.name %>
    </div>
    <%= render 'inline_form', route: route, hidden: true %>
  </td>      
  <td><%= link_to 'Show', admin_route_path(route) %></td>
  <td><%= link_to 'Edit', '', class: 'edit_route', data: { route_id: route.id } %></td>
  <td><%= link_to 'Destroy', [:admin, route], method: :delete, data: { confirm: "Are you sure?" } %>
</tr>