<%= form_for(train) do |f| %>

  <%= render '/common/error_check', resource: train %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :route_id, "Current Route" %>
    <%= f.collection_select :route_id, Route.all, :id, :name %>
  </div>
  
  <div class="field">
    <strong>Type of Sort for cars attached to train</strong>
    <%= f.label :ascend %>
    <%= f.radio_button :sort_type, 'Ascend', :checked => true %> 
    <%= f.label :descend %>
    <%= f.radio_button :sort_type, 'Descend', :checked => false %>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
