<h1>Car</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @car.number %>
</p>

<% if @car.train.present? %>
  <p>
    <strong>Train:</strong>
      <%= @car.train.name %>    
  </p>

  <p>
    <strong>Position in train:</strong>
      <%= @car.number_in_train %>  
  </p>
<% else %>
  <p>
    <strong>Train:</strong>
      Undefined
  </p>

  <p>
    <strong>Position in train:</strong>
      -
  </p>
<% end %>

<p>
  <h2>Seats</h2>
</p>

<p>
  <%= render @car.type.underscore %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %>
<%= link_to 'Back', @car.train %>
