<h1>Welcome to the Railway managing web application! <small>Currently you can navigate through the following items:</small></h1>
<% if user_signed_in? && current_user.admin? %>
  <div class="admin_link">
    <%= link_to 'Stations list', admin_railway_stations_path, class: 'btn btn-info' %>
    <%= link_to 'Trains list', admin_trains_path, class: 'btn btn-info' %>
    <%= link_to 'Routes list', admin_routes_path, class: 'btn btn-info' %>
    <%= link_to 'Tickets', admin_tickets_path, class: 'btn btn-info' %>
  </div>
<% else %>
  <div class="col-md-offset-5 ticket_link">
    <%= link_to 'Buy ticket', new_search_path, class: 'btn btn-primary btn-tickets' %>
  </div>
<% end %>
