<h1>Thanks for purchasing!</h1>

<h2>Ticket information:</h2>

<table>
  <thead>
    <tr>
      <td>Owner</td>
      <td>Credentials</td>
      <td>Personal ID</td>
      <td>Train</td>
      <td width = 150px>Arrival Time</td>
      <td width = 150px>Departure Time</td>
    </tr>
  </thead>
  <tbody>    
    <td><%= @ticket.user.email %></td>
    <td><%= @ticket.fio %></td>
    <td><%= @ticket.passport_data %></td>
    <td><%= @ticket.train.name %></td>
    <td><%= @train.arrival_time(@ticket.last_station_id) %></td>
    <td><%= @train.departure_time(@ticket.first_station_id) %></td>
  </tbody>
</table>

<%= link_to "Back", admin_tickets_path %>