<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @railway_station.title %>
</p>

<p>
  <strong>Part of following Routes:</strong>
  <% if @railway_station.routes.empty? %>
    Undefined
  <% else %>
    <% @railway_station.routes.each do |route| %>
      <% unless route == @railway_station.routes.last %>
        <%= route.name %>;
      <% else %>
        <%= route.name %>.
      <% end %>
    <% end %>  
  <% end %>
</p>

<%= link_to 'Edit', edit_railway_station_path(@railway_station) %> |
<%= link_to 'Back', railway_stations_path %>
