<h1>Choose your destination</h1>

<div class="container">
  <%= form_tag(search_path, method: :get) do %>
    <table>
      <thead>
        <tr>
          <td>Departure Station</td>
          <td>Arrival Station</td>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>
              <%= label_tag("Departure") %>
              <%= select_tag :arrival_station_id, options_from_collection_for_select(RailwayStation.all, "id", "title") %>          
            </td>
            <td>
              <%= label_tag("Arrival") %>
              <%= select_tag :departure_station_id, options_from_collection_for_select(RailwayStation.all, "id", "title") %>                   
            </td>
        </tr>
        <tr>
          <td><%= submit_tag ("Search for destination"), class: 'btn btn-success' %></td>          
        </tr>      
      </tbody>
    </table>
  <% end %>
</div>

<%= link_to t('common.back'), root_path, class: 'btn btn-primary' %>