<h1>Ticket purchasing</h1>

<p>
  <strong>Pick up train</strong>
  <table>
  <thead>
    <tr>
      <td>Train</td>
      <td>Departure Time</td>
      <td>Arrival Time</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <%= form_tag(new_ticket_path, method: :get) do %>    
      <% @chosen_trains.each do |train| %>
        <tr>
          <td><%= text_field_tag :chosen_train, train.name, readonly: true %></td>
          <td><%= text_field_tag :departure_time, train.departure_time(params[:departure_station_id]), readonly: true %></td>
          <td><%= text_field_tag :arrival_time, train.arrival_time(params[:arrival_station_id]), readonly: true %></td>
          <td><%= hidden_field_tag :arrival_station_id, params[:arrival_station_id] %></td>
          <td><%= hidden_field_tag :departure_station_id, params[:departure_station_id] %></td>
          <td><%= hidden_field_tag :train_id, train.id.to_i %></td>
          <td><%= submit_tag ("Buy ticket") %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  </table>
  
</p>


<%= link_to "Back", "/" %>
