<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Trains on Route:</strong>
  <% if @route.trains.empty? %>
    Undefined
  <% else %>
    <% @route.trains.each do |train| %>
      <% unless train == @route.trains.last %>
        <%= train.name %>;
      <% else %>
        <%= train.name %>.
      <% end %>
    <% end %>  
  <% end %>
</p>

<p>
  <strong>Stations on Route:</strong>
  <% if @route.railway_stations.empty? %>
    Undefined
  <% else %>    
    <% RailwayStationsRoute.all.where(["railway_stations_routes.route_id = ?", @route.id]).ordered.each do |association| %>
      <% RailwayStation.all.where(["railway_stations.id = ?", association.railway_station_id]).each do |station| %>
        <%= station.title %>
      <% end %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Back', routes_path %>
