<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Trains on Route:</strong>
  <% if @route.trains.empty? %>
    Undefined
  <% else %>
    <% @route.trains.each do |train| %>
      <% unless train == @route.trains.last %>
        <%= train.name %>;
      <% else %>
        <%= train.name %>.
      <% end %>
    <% end %>  
  <% end %>
</p>

<p>
  <strong>Stations on Route:</strong>
  <ul>
    <% if @route.railway_stations.empty? %>
      Undefined
    <% else %>
      <% @route.stations_in_route.each do |station| %>
        <li><%= station.title %></li>
      <% end %>
    <% end %>
  </ul>
</p>

<%= link_to 'Back', routes_path %>
