<%= form_for([:admin, train]) do |f| %>

  <%= render '/common/error_check', resource: train %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :route_id %>
    <%= f.collection_select :route_id, Route.all, :id, :name %>
  </div>
  
  <div class="field">
    <strong><%= t('.car_sort')%></strong>
    <%= f.label :ascend, t('.increase_sort') %>
    <%= f.radio_button :sort_type, "1" %> 
    <%= f.label :descend, t('.decrease_sort') %>
    <%= f.radio_button :sort_type, "0" %>
  </div>
  

  <div class="actions">
    <%= f.submit t('.submit', action: @train.new_record? ? "Создать" : "Изменить") %>
  </div>
<% end %>
