<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @train.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Current Route:</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    Undefined
  <% end %>
</p>

<p>
  <%= link_to "Add Car", new_admin_train_car_path(@train) %>
</p>

<p>
  <strong>Type of Cars' sorting</strong>
  <%= @train.sort_type %>
</p>

<p>
  <strong>Cattle Cars:</strong>
  <%= @train.cars_quantity_by_type("CattleCar") %>;
  <strong>Cattle Top Seats:</strong>
  <%= @train.seats_by_car_and_seat_types("CattleCar", "top_seats") %>;
  <strong>Cattle Bottom Seats:</strong>
  <%= @train.seats_by_car_and_seat_types("CattleCar", "bottom_seats") %>
  <strong>Cattle Side Top Seats:</strong>
  <%= @train.seats_by_car_and_seat_types("CattleCar", "side_top_seats") %>;
  <strong>Cattle Side Bottom Seats:</strong>
  <%= @train.seats_by_car_and_seat_types("CattleCar", "side_bottom_seats") %>
  <ul>
    <% @train.cars.cattle.each do |car| %>      
      <li><%= link_to "Car number #{car.number}", [:admin, car.becomes(Car)] %></li>      
    <% end %>
  </ul>
</p>

<p>
  <strong>Coupe Cars:</strong>
  <%= @train.cars_quantity_by_type("CoupeCar") %>;
  <strong>Coupe Top Seats:</strong>
  <%= @train.seats_by_car_and_seat_types("CoupeCar", "top_seats") %>;
  <strong>Coupe Bottom Seats:</strong>
  <%= @train.seats_by_car_and_seat_types("CoupeCar", "bottom_seats") %>
  <ul>
    <% @train.cars.coupe.each do |car| %>      
      <li><%= link_to "Car number #{car.number}", [:admin, car.becomes(Car)] %></li>      
    <% end %>
  </ul>
</p>

<p>
  <strong>SV Cars:</strong>
  <%= @train.cars_quantity_by_type("SvCar") %>;  
  <strong>SV Bottom Seats:</strong>
  <%= @train.seats_by_car_and_seat_types("SvCar", "bottom_seats") %>
  <ul>
    <% @train.cars.sv.each do |car| %>      
      <li><%= link_to "Car number #{car.number}", [:admin, car.becomes(Car)] %></li>      
    <% end %>
  </ul>
</p>

<p>
  <strong>Seat Only Cars:</strong>
  <%= @train.cars_quantity_by_type("SeatOnlyCar") %>;  
  <strong>Seat Only Seats:</strong>
  <%= @train.seats_by_car_and_seat_types("SeatOnlyCar", "seat_only_places") %>
  <ul>
    <% @train.cars.seat_only.each do |car| %>      
      <li><%= link_to "Car number #{car.number}", [:admin, car.becomes(Car)] %></li>      
    <% end %>
  </ul>
</p>

<p>
  <strong>Cars by position in train</strong>
  <ul>    
    <% @train.cars.ordered_by_position(@train.sort_type).each do |car| %>    
      <li><%= car.number_in_train %> - <%= link_to "Car number #{car.number}", [:admin, car.becomes(Car)] %></li>
    <% end %>
  </ul>
</p>



<%= link_to t('common.edit'), edit_admin_train_path(@train) %> |
<%= link_to t('common.back'), admin_trains_path %>
