<tr>  
  <td><%= car.number %></td>
  <td><%= car.type %></td>
  <td><%= car.top_seats %></td>
  <td><%= car.bottom_seats %></td>
  <% if car.train.present? %>
    <td>    
      <%= car.train.name %>
    </td>
    <td>
      <%= car.number_in_train %>
    </td>
  <% else %>
    <td>
      Undefined
    </td>
    <td>
      -
    </td>
  <% end %>
  </td>
  <td><%= link_to 'Show', car %></td>
  <td><%= link_to 'Edit', edit_car_path(car) %></td>
  <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: "Are you sure?" } %>
</tr>