<!DOCTYPE html>
<html>
  <head>
    <title>ThinkTutu - Administrator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <p id="notice" lass="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if user_signed_in? %>
    <%= link_to "Exit", destroy_user_session_path, method: :delete %>
    <p>Account: <%= current_user.email %></p>
  <% else %>
    <%= link_to "Sign In", new_user_session_path %>
  <% end %>

  <%= yield %>

  <div class="footer">
    <ul>
      Project for
      <a href = "http://www.thinknetica.com">Thinknetica online-courses</a>
      © 2017 Asfour George
    </ul>
  </div>

  </body>
</html>
